@font-face {
    font-family: 'CustomFont';
    src: url("../font/Peralta-Regular.ttf");
}

/*------------navigation bar------------*/
.navbar {
    background: #333;
    height: 65px;
}

.navbar .left {
    float: left;
}

.navbar .left p {
    color: white;
    font-family: 'CustomFont';
    font-size: 37px;
    margin-left: 30px;
    margin-top: 3px;
    border: 1px solid transparent;
    padding: 3px;
    transition: border-color 0.3s ease;
}

.navbar .left p:hover {
    border-color: white;
}

.navbar .right {
    float: right;
}

.navbar .right p {
    color: white;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 14px;
    border: 1px solid transparent;
    padding: 5px;
    transition: border-color 0.3s ease;
}

.navbar .right p:hover {
    border-color: white;
}


/*------------menu------------*/
.menu {
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.menu .left {
    /*float: left;*/
    width: 65%;
}

.menu .left ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.menu .left a {
    color: black;
}

.menu .right {
    position: relative;
    margin-right: 15px;
    margin-top: 8px;
}

.expanded {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    min-height: 50px;
    z-index: 9999;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid #ccc;
    display: none;
}

.menu .right:hover .expanded {
    display: block;
}

.menu .right p .expanded {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.menu .right p:hover .expanded {
    display: block;
}


/*------------location------------*/
.location {
    height: 60px;
    position: relative;
    background-color: #f5f5f5;
    box-shadow: inset 0px 15px 10px -15px #000;
}

.location p {
    position: absolute;
    left: 40px;
    top: 18px;
    color: #a0a0a0;
    font-weight: bold;
}

/*------------goods------------*/
.goods {
    height: 500px;
    background: #f5f5f5;
}

.goods .wrapper {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 20px;
    margin: auto auto;
}

.goods .left {
    float: left;
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods .left img {
    width: 400px;

}

.goods_name {
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
}

.goods_price {
    font-size: 27px;
    font-weight: bold;
    color: red;
    padding-top: 10px;
}

.goods_button {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f5f5f5;
    color: rgb(46, 49, 49);
    font-size: 16px;
}

.goods_button:hover {
    background-color: rgb(0, 0, 0, 0.5);
}


/*------------footer------------*/
.footer {
    height: 100px;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 5px 0;
    color: white;
}

.footer p a {
    color: white;
}