@font-face {
    font-family: 'CustomFont';
    src: url("/font/Peralta-Regular.ttf");
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/*------------navigation bar------------*/
.navbar {
    background: #333;
    height: 65px;
}

.navbar .left {
    float: left;
}

.navbar .left p {
    color: white;
    font-family: 'CustomFont';
    font-size: 37px;
    margin-left: 30px;
    margin-top: 3px;
    border: 1px solid transparent;
    padding: 3px;
    transition: border-color 0.3s ease;
}

.navbar .left p:hover {
    border-color: white;
}

.navbar .right {
    float: right;
}

.navbar .right p {
    color: white;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 14px;
    border: 1px solid transparent;
    padding: 5px;
    transition: border-color 0.3s ease;
}

.navbar .right p:hover {
    border-color: white;
}


/*------------menu------------*/
.menu {
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.menu .left {
    /*float: left;*/
    width: 65%;
}

.menu .left ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.menu .left a {
    color: black;
}

.menu .right {
    position: relative;
    margin-right: 15px;
    margin-top: 8px;
}

.expanded {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    min-height: 50px;
    z-index: 9999;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid #ccc;
    display: none;
}

.menu .right:hover .expanded {
    display: block;
}

.menu .right p .expanded {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.menu .right p:hover .expanded {
    display: block;
}


/*------------location------------*/
.location {
    height: 60px;
    position: relative;
    background-color: #f5f5f5;
    box-shadow: inset 0px 15px 10px -15px #000;
}

.location p {
    position: absolute;
    left: 40px;
    top: 18px;
    color: #a0a0a0;
    font-weight: bold;
}

/*------------banner------------*/
.banner {
    height: 500px;
    background: #f5f5f5;
}

.banner .wrapper {
    height: 500px;
    position: relative;
}

.banner .aside {
    float: left;
    width: 20%;
    height: 500px;
    background-color: rgba(0,0,0,.8);
    cursor: pointer;
}

.banner .aside ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .aside ul li {
    height: 62.5px;
}

.banner .aside ul li:hover {
    background-color: #27ba9b;
}

.banner .aside ul li a {
    color: white;
}

.banner .image {
    float: right;
    width: 80%;
    height: 500px;
}

.banner .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: auto;
}

#prev,
#next {
    position: absolute;
    top: 220px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .2);
    background-image: url(../images/sprites.png);
    border-radius: 50%;
    cursor: pointer;
}

#prev {
    left: 260px;
    background-position: 14px -60px;
}

#next {
    right: 20px;
    background-position: -23px -60px;
}

#prev:hover,
#next:hover {
    background-color: rgba(255, 255, 255, .2);
}

.banner ol {
    position: absolute;
    left: 680px;
    bottom: 30px;
    height: 10px;
}

.banner ol li {
    float: left;
    margin-right: 24px;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    cursor: pointer;
}


/*------------goods------------*/
.goods {
    margin: 0 auto;
    background: #f5f5f5;
}

.goods .hd p {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 28px;
    font-weight: bold;
}

.goods .bd ul {
    display: flex;
    justify-content: space-around;
}

.goods .bd ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    width: 260px;
    height: 300px;
    text-align: center;
}

.goods .bd ul li:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.img_goods {
    width: 190px;
    margin-top: 20px;
}

.goods_name {
    color: black;
}

.goods_price {
    color: red;
}

.goods_button {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: rgb(46, 49, 49);
    font-size: 16px;
}

.goods_button:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

/*------------footer------------*/
.footer {
    height: 100px;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 5px 0;
    color: white;
}

.footer p a {
    color: white;
}